@charset "UTF-8";

/* Обнуление */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
}

body {
  font-family: "Roboto", "RobotoSlab", "Roboto Condensed", sans-serif;
}

a,
li {
  text-decoration: none;
}

/*----------------------------- */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: #e5e5e5;
  position: fixed;
  width: 100%;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 3;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: -2px;
  text-align: left;
  color: #4e4e4e;
}

.header__burger {
  display: none;
  position: relative;
  z-index: 3;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__link {
  font-family: "Roboto Condensed";
  font-size: 16px;
  font-weight: bold;
  font-stretch: condensed;
  font-style: normal;
  line-height: 2.19;
  letter-spacing: normal;
  text-transform: uppercase;
  color: #4e4e4e;
  padding: 0 10px;
}

.header__link:hover {
  color: #1abb9c;
}

.header__link-act {
  color: #1abb9c;
}

.content {
  padding-top: 65px;
}

.main-block {
  background: url("../img/bg.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  text-align: center;
}

.main-block__text {
  padding-top: 20%;
  text-align: center;
  font-family: "Roboto Slab";
}

.main-block__title {
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.88;
  letter-spacing: normal;
  color: #f3f3f3;
}

.main-block__subtitle {
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.09;
  letter-spacing: normal;
  padding-top: 43px;
  color: #a8a8a8;
}

.main-block button {
  font-family: "Roboto Condensed", sans-serif;
  display: inline-block;
  margin: 0 auto;
  height: 45px;
  padding: 0 26px;
  text-transform: uppercase;
  background-color: #3f8dbf;
  text-align: center;
  border-radius: 3px;
  color: #fff;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
  font-weight: bold;
  z-index: 1;
}

.main-block button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #1abb9c;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 3px;
}

.main-block button span {
  position: relative;
  z-index: 1;
}

.main-block button:hover {
  color: #fff;
  font-weight: bold;
}

.main-block button:hover::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.about__content {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 2px solid #4e4e4e;
  padding-bottom: 60px;
}

.about__item {
  max-width: 236px;
  text-align: center;
  padding-top: 45px;
  padding-right: 20px;
}

.about__item:nth-child(2) .item__icon {
  background-color: #d2514b;
  padding: 29px 31px;
}

.about__item:nth-child(3) .item__icon {
  background-color: #66a3c6;
  padding: 25px 27px;
}

.about__item:nth-child(4) .item__icon {
  background-color: #e8c04f;
  padding: 35px 27px;
}

.item__icon {
  margin: 0 auto;
  position: relative;
  z-index: -1;
}

.icon__text h3 {
  font-family: "RobotoSlab";
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.33;
  letter-spacing: normal;
  color: #2e2e2e;
}

.icon__text p {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #616161;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item__icon {
  height: 90px;
  width: 90px;
  padding: 25px 31px;
  background-color: #9d9abf;
  border-radius: 50%;
}

.item__icon img {
  opacity: 50%;
}

.work__content {
  padding-top: 60px;
  margin-bottom: 50px;
}

.work__title {
  font-size: 18px;
  font-weight: bold;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.94;
  letter-spacing: normal;
  text-transform: uppercase;
  color: #4e4e4e;
  padding-bottom: 10px;
}

.work__item {
  max-width: 380px;
  margin-right: 10px;
  margin-top: 45px;
}

.item__text h3 {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  padding-top: 25px;
  letter-spacing: normal;
  color: #4e4e4e;
}

.item__text h4 {
  padding-top: 14px;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #a8a8a8;
}

.item__text p {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  padding-top: 13px;
  color: #5c5c5c;
}

.work__item img {
  -o-object-fit: cover;
     object-fit: cover;
}

.item__photo {
  max-width: 380px;
  height: 300px;
  background-color: #a8a8a8;
  background-size: cover;
}

.rew {
  background-color: #efefef;
  text-align: center;
}

.rew__content {
  padding-top: 4%;
}

.rew__text p {
  max-width: 734px;
  font-family: "RobotoSlab";
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #a1a1a1;
  margin: 0 auto;
  padding-top: 33px;
  padding-bottom: 50px;
}

.footer {
  background-color: #1c1c1c;
  color: #cacaca;
}

.footer__content {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content__item {
  max-width: 257px;
  padding-top: 30px;
  padding-right: 15px;
}

.content__item h3 {
  font-family: "Roboto Condensed";
  font-size: 18px;
  font-weight: bold;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  color: #6c6c6c;
}

.content__item p {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #cacaca;
  padding-top: 15px;
}

.content__item ul {
  list-style-image: url("../img/li.gif");
  padding-top: 15px;
  padding-left: 15px;
}

.content__item ul li {
  padding-top: 10px;
  line-height: 18px;
}

.content__item ul:nth-child(2) li {
  list-style-image: url("../img/li2.gif");
}

.content__item ul:nth-child(3) li {
  list-style-image: url("../img/li3.gif");
}

@media (max-width: 878px) {
  .work__title {
    text-align: center;
  }
}

@media (max-width: 874px) {
  .main-block__title {
    font-size: 35px;
  }

  .main-block__subtitle {
    font-size: 25px;
  }

  .content {
    padding-top: 50px;
  }
}

@media (max-width: 646px) {
  .main-block__title {
    font-size: 25px;
  }

  .main-block__subtitle {
    font-size: 20px;
  }

  .main-block {
    height: 400px;
  }
}

@media (max-width: 637px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #1abb9c;
    position: absolute;
    height: 3px;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger span {
    background-color: #1abb9c;
    position: absolute;
    height: 3px;
    width: 100%;
    top: 8.9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 8.5px;
  }

  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 8.5px;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__menu {
    position: fixed;
    top: -1000%;
    left: 0;
    right: -100%;
    width: 100%;
    height: 470px;
    background-color: #e5e5e5;
    padding: 60px 0px 20px 10px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__menu.active {
    top: 0;
  }

  .header__link {
    font-size: 30px;
  }

  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__list li {
    margin: 0 0;
  }

  .header__body {
    height: 50px;
    position: relative;
    z-index: 999;
  }

  body.lock {
    overflow: hidden;
  }

  .main-block__btn.lock {
    display: none;
  }
}

@media (max-width: 518px) {
  .main-block__title {
    font-size: 25px;
  }

  .main-block__subtitle {
    font-size: 15px;
  }
}

@media (max-width: 392px) {
  .main-block__title {
    font-size: 20px;
  }

  .main-block__subtitle {
    font-size: 10px;
  }
}

@media (max-width: 318px) {
  .main-block__title {
    font-size: 20px;
  }

  .main-block__subtitle {
    font-size: 10px;
  }
}